@import '../../lib/ui/assets/css/def/colors.def';

quix-notebook {
  .bi-section-content {
    overflow: hidden !important;
  }

  .quix-notebook-content {
    position: relative;
    margin-right: -12px;
    padding-right: 12px;
    padding-bottom: 400px;
  }
}
