<div class="bi-section">
  <div class="bi-section-header">
    <div>
      <div class="bi-section-title">
        <quix-breadcrumbs
          class="bi-dont-shrink bi-fade-in"
          ng-if="vm.breadcrumbs.enabled"
          breadcrumbs="vm.breadcrumbs.folders"
          quix-breadcrumbs-options="::{focusName: options.isNew}"
          on-folder-click="events.onFolderClick(file)"
          on-name-change="events.onNameChange(file)"
          readonly="!permissions.edit"
        ></bi-breadcrumbs>
      </div>

      <span class="bi-align bi-s-h bi-fade-in" ng-if="vm.view.hasChanges">
        <span class="bi-section-header-spr"></span>
        <i class="bi-action bi-icon bi-warning" ng-click="events.onSave()">save</i>
      </span>
    </div>

    <div class="bi-dont-shrink">
      <div class="quix-meta-text bi-align bi-s-h bi-text--sm bi-fade-in" ng-if="vm.state.is('Result') || vm.state.after('Result')">
        <div>Created <span>{{::vm.state.value().notebook.dateCreated | biRelativeDate}}</span></div>
        <div class="bi-section-header-spr"></div>
        <div>Updated <span>{{vm.state.value().notebook.dateUpdated | biRelativeDate}}</span></div>
      </div>
    </div>
  </div>

  <div class="bi-section-content bi-c-h bi-s-v--x15">
    <div class="quix-section-controls bi-align bi-dont-shrink bi-fade-in" ng-if="vm.state.is('Result') || vm.state.after('Result')">
      <div class="bi-spread bi-grow bi-fade-in" ng-if="!vm.marked.enabled">
        <div class="bi-align bi-s-h">
          <button 
            class="bi-button--success"
            ng-if="permissions.edit"
            ng-click="events.onNoteAdd()"
            data-hook="notebook-add-note"
          >
            <i class="bi-icon--sm">add</i>
            <span>Add note</span>
          </button>
        </div>

        <div class="bi-align bi-s-h--x2">
          <quix-actions
            type="notebook"
            context="vm.state.value().notebook"
            quix-actions-options="{reverse: true, forceDelete: vm.state.is('Result')}"
            on-like-toggle="events.onLikeToggle(context)"
            on-copy="events.onCopy(context)"
            on-delete="events.onDelete(context)"
            readonly="!permissions.edit"
          ></quix-actions>
        </div>
      </div>

      <div class="bi-align bi-s-h--x2 bi-grow bi-fade-in" ng-if="vm.marked.enabled">
        <quix-actions 
          type="notes"
          context="vm.marked.list"
          quix-actions-options="::{list: true}"
          on-copy="events.onMarkedNotesCopy(context)"
          on-delete="events.onMarkedNotesDelete(context)"
          readonly="!permissions.edit"
        ></quix-actions>

        <span class="bi-text--600 bi-muted">{{vm.marked.list.length}} notes selected</span>
      </div>
    </div>

    <div class="bi-c-h bi-grow bi-align bi-center" ng-if="vm.state.before('Content')">
      <div class="bi-empty-state--loading bi-fade-in" ng-if="vm.state.is('Initial')">
        <div class="bi-empty-state-content">Loading notebook...</div>
      </div>

      <div
        class="bi-empty-state bi-s-v bi-fade-in"
        ng-if="vm.state.is('Result')"
        data-hook="notebook-empty"
      >
        <div class="bi-empty-state-icon">
          <i class="bi-icon">note_add</i>
        </div>
        <div class="bi-empty-state-header">
          Notebook is empty
        </div>

        <div class="bi-empty-state-content bi-s-h--x05" ng-if="permissions.edit">
          <a class="bi-link" ng-click="events.onNoteAdd()">Add note</a>
        </div>
      </div>
    </div>

    <div 
      class="quix-notebook-content bi-c-h bi-grow bi-scroll"
      ng-if="vm.state.is('Content')"
      data-hook="notebook-content"
    >
      <quix-note
        class="bi-fade-in"
        ng-repeat="note in vm.state.value().notes track by note.id"
        note="::note"
        quix-note-options="::{
          fold: vm.notes.get(note).fold && vm.state.value().notes.length > 1,
          focusName: vm.notes.get(note).focusName
        }"
        marked="!!vm.marked.map[note.id]"
        runner="runners[note.id]"
        on-content-change="events.onNoteContentChange(note)"
        on-name-change="events.onNoteNameChange(note)"
        on-delete="events.onNoteDelete(note)"
        on-mark-toggle="events.onMarkToggle(note)"
        on-save="events.onNoteSave()"
        on-run="events.onNoteRun()"
        on-runner-created="events.onRunnerCreated(note, runner)"
        on-runner-destroyed="events.onRunnerDestroyed(note, runner)"
        data-hook="notebook-note"
        readonly="!permissions.edit"
      ></quix-note>
    </div>
  </div>
</div>