matrix:
  include:
    - stage: test
      name: "Shared"
      language: node_js
      node_js:
        - 10
      cache: npm
      install:
        - cd ./quix-frontend/shared
        - npm install
      script:
        - npm test
    - stage: test
      name: "Client"
      language: node_js
      node_js:
        - 10
      cache: npm
      install:
        - cd ./quix-frontend/shared
        - npm install
        - cd ../client
        - npm install
      script:
        - npm test
    - stage: test
      name: "Frontend"
      language: node_js
      node_js:
        - 10
      cache: npm
      services:
        - mysql
      addons:
        apt:
          sources:
            - mysql-5.7-trusty
          packages:
            - mysql-server
            - mysql-client
      before_install:
        - mysql -e 'CREATE DATABASE IF NOT EXISTS quixtest;'
      install:
        - cd ./quix-frontend/shared
        - npm install
        - cd ../service
        - npm install
      script:
        - npm run test:mysql
    - state: test
      name: "Backend"
      language: java
      cache:
        directories:
          - $HOME/.m2
      before_install:
        - cd ./quix-backend
      install:
        - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
      script:
        - mvn test
