#MODULES=presto,athena,prod,bq
MODULES=presto


MODULES_PRESTO_ENGINE=presto
MODULES_PRESTO_API=http://presto:8080/v1
MODULES_PRESTO_CATALOG=system
MODULES_PRESTO_SCHEMA=runtime
MODULES_PRESTO_SOURCE=quix
MODULES_PRESTO_DB_EMPTY_TIMEOUT=60000
MODULES_PRESTO_DB_REQUEST_TIMEOUT=10000

#MODULES_ATHENA_ENGINE=athena
#MODULES_ATHENA_OUTPUT=s3://some-bucket-id/
#MODULES_ATHENA_REGION=us-east-1
#MODULES_ATHENA_DATABASE=default
#MODULES_ATHENA_DB_EMPTY_TIMEOUT=60000
#MODULES_ATHENA_DB_REQUEST_TIMEOUT=10000

#MODULES_PROD_ENGINE=jdbc
#MODULES_PROD_DRIVER=com.mysql.jdbc.Driver
#MODULES_PROD_URL=jdbc:mysql://localhost:2222/aschema
#MODULES_PROD_USER=prod-user
#MODULES_PROD_PASS=prod-pass
#MODULES_PROD_SYNTAX=mysql

#MODULES_BQ_ENGINE=bigquery
#MODULES_BQ_SYNTAX=ansi_sql
#MODULES_BQ_CREDENTIALS_BASE64= BASE64 of credentials.json

#fake or google
AUTH_TYPE=fake
AUTH_COOKIE=
AUTH_SECRET=
DB_NAME=quix
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
#BACKEND_INTERNAL_URL=
#BACKEND_PUBLIC_URL=
GOOGLE_SSO_CLIENT_ID=
GOOGLE_SSO_SECRET=
