PRESTO_API=http://presto:8080/v1
#fake or google
AUTH_TYPE=fake
AUTH_COOKIE=
AUTH_SECRET=
DB_NAME=quix
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
BACKEND_INTERNAL_URL=
BACKEND_PUBLIC_URL=
GOOGLE_SSO_CLIENT_ID=
GOOGLE_SSO_SECRET=