@import '../../lib/ui//assets/css/def/colors.def';

quix-note-hints {
  display: block;
  line-height: 0;

  table {
    tr {
      line-height: 28px;
    }

    th:first-child {
      padding-right: 12px;
      text-align: right;
    }

    th:last-child {
      text-align: left;
    }

    .bi-tag--sm {
      color: $white;
    }
  }
}
