@import '../../lib/ui/assets/css/def/colors.def';

quix-base-home {
  .qh-welcome {
    margin-bottom: 50px;
    padding: 50px 0 60px;
    background-color: $white;
    text-align: center;

    .qh-welcome-title {
      font-size: 40px;
    }
  }

  .qh-actions {
    > *:not(:last-child) {
      margin-right: 50px;
    }
  }
}
