<div class="bi-grow bi-scroll">
  <div class="quix-home-welcome bi-c bi-s-v--x3">
    <div class="quix-home-welcome-title bi-text--300">Welcome to Quix</div>
    <div class="bi-text--lg bi-text--300 bi-muted">
      A Presto-based notebook manager
    </div>
  </div>

  <div class="quix-home-actions bi-align bi-center bi-grow">
    <div class="bi-home-action bi-theme--lighter" ng-click="events.onNotebooksClick()" role="button" data-hook="home-notebooks">
      <i class="bi-icon">description</i>
      <span>My notebooks</span>
    </div>

    <div class="bi-home-action bi-theme--lighter" ng-click="events.onExamplesClick()" role="button" data-hook="home-examples">
      <i class="bi-icon">local_library</i>
      <span>Examples</span>
    </div>

    <div class="bi-home-action bi-theme--lighter" ng-click="events.onNotebookAdd()" role="button" data-hook="home-add-notebook">
      <i class="bi-icon">add</i>
      <span>Add notebook</span>
    </div>
  </div>
</div>
