<bi-breadcrumbs
  class="bi-dont-shrink"
  bi-options="item as item.name for item in breadcrumbs"
>
  <div>
    <span ng-show="false">dummy</span>

    <span
      ng-if="breadcrumbs.length === 1 || $index < breadcrumbs.length - 1"
      ng-click="events.onFolderClick(item, $index)"
      data-hook="file-name"
    >{{::item.name}}</span>

    <span 
      class="bi-align bi-s-h--x05"
      ng-if="breadcrumbs.length > 1 && $index === breadcrumbs.length - 1"
    >
      <span
        contenteditable="{{!readonly}}"
        ng-model="item.name"
        on-change="events.onNameChange(item)"
        ce-options="::{autoEdit: options.focusName}"
        data-hook="file-name"
      ></span>
    </span>
  </div>
</bi-breadcrumbs>