@import '../../lib/ui/assets/css/def/colors.def';

quix-search-results {
  .hljs {
    padding: 12px;
    font-family: Monaco;
    font-size: 12px;
  }

  .bi-section-content {
    padding-bottom: 400px !important;
  }
}
