/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer {
  text-align: unset;
}

.homeContainer .homeWrapper {
  padding: 2em 100px;
}

.homeContainer .homeWrapper .projectLogo {
  padding: 20px 100px 0;
}

.promoSection .promoRow .pluginRowBlock {
  justify-content: unset;
}

.imageAlignTop .blockImage {
  position: relative;
  display: block;
  max-width: 60%;
}

.imageAlignTop .blockImage:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.imageAlignTop .blockImage img {
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: 0;
}

.fixedHeaderContainer header .logo {
  height: 20px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 100px;
}