<div class="bi-center bi-heading bi-fade-in" ng-show="vm.types.length > 1">
  <quix-plugin-picker
    module="db"
    ng-model="vm.type"
    on-change="events.onPluginPickerChange(plugin)"
    on-load="events.onPluginPickerLoad(plugin)"
  ></quix-plugin-picker>
</div>

<div class="bi-c-h bi-align bi-center bi-grow" ng-if="vm.state.before('Content')">
  <div class="bi-empty-state--loading bi-fade-in" ng-if="vm.state.is('Initial')">
    <div class="bi-empty-state-content">Loading DB...</div>
  </div>

  <div class="bi-empty-state bi-fade-in" ng-if="vm.state.is('Result')">
    <quix-image class="bi-empty-state-image" name="no_data.svg"></quix-image>
    <div class="bi-empty-state-header">Database is empty</div>
    <div class="bi-empty-state-content">
      <a class="bi-link" ng-click="events.onRetryClick()">Retry</a>
    </div>
  </div>

  <div class="bi-empty-state bi-fade-in" ng-if="vm.state.is('Error')" data-hook="db-sidebar-error">
    <quix-image class="bi-empty-state-image" name="error_{{::vm.state.value().error.status}}.svg"></quix-image>
    <div class="bi-empty-state-header">{{::vm.state.value().error.message}}</div>
    <div class="bi-empty-state-content">
      <a class="bi-link" ng-click="events.onRetryClick()">Retry</a>
    </div>
  </div>
</div>

<div class="bi-c-h bi-s-v--x15 bi-grow bi-fade-in" ng-if="vm.state.after('Result')">
  <bi-search
    class="quix-db-search bi-dont-shrink"
    ng-model="vm.search.text"
    ng-change="events.onSearchChange(vm.search.text)"
    bi-focus
    placeholder="Search"
    data-hook="file-explorer-search"
    min-length="2"
  ></bi-search>
  
  <div class="bi-c-h bi-align bi-center bi-grow" ng-if="vm.state.before('SearchContent')">
    <div class="bi-empty-state--loading bi-fade-in" ng-if="vm.state.is('Search')">
      <div class="bi-empty-state-content">Searching...</div>
    </div>

    <div class="bi-empty-state bi-fade-in" ng-if="vm.state.is('SearchResult')">
      <quix-image class="bi-empty-state-image" name="no_data.svg"></quix-image>
      <div class="bi-empty-state-content">No tables that match "{{::vm.search.text}}"</div>
    </div>
  </div>

  <div class="bi-c-h bi-grow bi-scroll" ng-show="vm.state.after('SearchResult')">
    <quix-file-explorer
      ng-show="vm.state.is('Visible')"
      tree="vm.state.value().dbOriginal"
      on-transform-node="events.transformNode"
      on-fetch-children="events.onLazyFolderFetch"
      menu-options="{
        table: [{
          title: 'Select rows (limit 1000)',
          action: events.onSelectTableRows,
        }]
      }"
    ></quix-file-explorer>

    <quix-file-explorer
      ng-if="vm.state.is('SearchContent')"
      tree="vm.state.value().dbOriginalFiltered"
      expanded-nodes="true"
      highlight="vm.search.text"
      on-transform-node="events.transformNode"
      on-fetch-children="events.onLazyFolderFetch"
      menu-options="{
        table: [{
          title: 'Select rows (limit 1000)',
          action: events.onSelectTableRows,
        }]
      }"
    ></quix-file-explorer>

  </div>
</div>