<div class="bi-center bi-heading bi-fade-in" ng-show="vm.types.length > 1">
  <quix-plugin-picker
    type="db"
    ng-model="vm.type"
    ng-change="events.onTypeChange(vm.type)"
    on-load="events.onPluginPickerLoad(plugin)"
  ></quix-plugin-picker>
</div>

<div class="bi-c-h bi-align bi-center bi-grow" ng-if="vm.state.before('Content')">
  <div class="bi-empty-state--loading bi-fade-in" ng-if="vm.state.is('Initial')">
    <div class="bi-empty-state-content">Loading DB...</div>
  </div>

  <div class="bi-empty-state bi-fade-in" ng-if="vm.state.is('Result')">
    <quix-image class="bi-empty-state-image" name="no_data.svg"></quix-image>
    <div class="bi-empty-state-header">Database is empty</div>
    <div class="bi-empty-state-content">
      <a class="bi-link" ng-click="events.onRetryClick()">Retry</a>
    </div>
  </div>

  <div class="bi-empty-state bi-fade-in" ng-if="vm.state.is('Error')" data-hook="db-sidebar-error">
    <quix-image class="bi-empty-state-image" name="error_{{::vm.state.value().error.status}}.svg"></quix-image>
    <div class="bi-empty-state-header">{{::vm.state.value().error.message}}</div>
    <div class="bi-empty-state-content">
      <a class="bi-link" ng-click="events.onRetryClick()">Retry</a>
    </div>
  </div>
</div>

<div class="bi-c-h bi-s-v--x15 bi-grow bi-fade-in" ng-if="vm.state.after('Result')">
  <bi-search
    class="quix-db-search bi-dont-shrink"
    ng-model="vm.search.text"
    ng-change="events.onSearchChange(vm.search.text)"
    bi-focus
    placeholder="Search"
  ></bi-search>
  
  <div class="bi-c-h bi-align bi-center bi-grow" ng-if="vm.state.before('SearchContent')">
    <div class="bi-empty-state--loading bi-fade-in" ng-if="vm.state.is('Search')">
      <div class="bi-empty-state-content">Searching...</div>
    </div>

    <div class="bi-empty-state bi-fade-in" ng-if="vm.state.is('SearchResult')">
      <quix-image class="bi-empty-state-image" name="no_data.svg"></quix-image>
      <div class="bi-empty-state-content">No tables that match "{{::vm.search.text}}"</div>
    </div>
  </div>

  <div class="bi-c-h bi-grow bi-scroll" ng-show="vm.state.after('SearchResult')">
    <bi-file-explorer-static
      ng-show="vm.state.is('Visible')"
      ng-model="vm.state.value().db"
      fe-options="::{draggable: true, expandRootFolder: true}"
      on-load="events.onFileExplorerLoad(fileExplorer)"
      on-lazy-folder-fetch="events.onLazyFolderFetch(folder)"
      permissions="getFolderPermissions(folder)"
      readonly="true"
    > 
      <folder-icon class="bi-icon--xs">
        {{::{
          catalog: 'book',
          schema: 'storage',
          table: 'view_module'
        }[folder.nodeType]}}
      </folder-icon>

      <file-icon class="bi-text--sm">
      {{file.nodeType}}
      </file-icon>

      <menu>
        <ul class="bi-dropdown-menu" ng-if="::folder.nodeType === 'table'">
          <li 
            class="bi-align bi-space-h"
            ng-click="events.onSelectTableRows(folder)"
          >
            <div>Select rows (limit 1000)</div>
          </li>
        </ul>
      </menu>
    </bi-file-explorer-static>

    <bi-file-explorer-static
      ng-if="vm.state.is('SearchContent')"
      ng-model="vm.state.value().dbFiltered"
      fe-options="::{draggable: true, expandAllFolders: true}"
      on-lazy-folder-fetch="events.onLazyFolderFetch(folder)"
      permissions="getFolderPermissions(folder)"
      readonly="true"
    > 
      <folder-icon class="bi-icon--xs">
        {{::{
          catalog: 'book',
          schema: 'storage',
          table: 'view_module'
        }[folder.nodeType]}}
      </folder-icon>

      <file-icon class="bi-text--sm">
      {{file.nodeType}}
      </file-icon>

      <menu>
        <ul class="bi-dropdown-menu" ng-if="::folder.nodeType === 'table'">
          <li 
            class="bi-align bi-space-h"
            ng-click="events.onSelectTableRows(folder)"
          >
            <div>Select rows (limit 1000)</div>
          </li>
        </ul>
      </menu>
    </bi-file-explorer-static>
    
  </div>
</div>