<div class="bi-c-h bi-align bi-center bi-grow" ng-if="vm.state.before('Content')">
  <div class="quix-empty-state bi-empty-state--loading bi-fade-in" ng-if="vm.state.is('Initial')">
    <div class="bi-empty-state-content">Loading DB...</div>
  </div>

  <div class="quix-empty-state bi-empty-state bi-fade-in" ng-if="vm.state.is('Result')">
    <div class="bi-empty-state-header">Database is empty</div>
  </div>

  <div class="quix-empty-state bi-empty-state bi-fade-in" ng-if="vm.state.is('Error')" data-hook="files-sidebar-error">
    <div class="bi-empty-state-icon bi-danger">
      <i class="bi-icon bi-danger">error_outline</i>
    </div>
    <div class="bi-empty-state-header bi-danger">{{::vm.state.value().error.message}}</div>
  </div>
</div>

<div class="bi-fade-in" ng-if="vm.state.after('Result')">
  <bi-file-explorer
    ng-show="vm.state.is('Visible')"
    ng-model="vm.state.value().db"
    fe-options="::{draggable: true}"
    on-load="events.onFileExplorerLoad()"
    on-file-click="events.onFileClick(file)"
    on-lazy-folder-fetch="events.onLazyFolderFetch(folder)"
    permissions="getFolderPermissions(folder)"
    readonly="true"
  > 
    <folder-icon class="bi-icon--xs bi-muted">
      {{::{
        catalog: 'book',
        schema: 'storage',
        table: 'view_module'
      }[folder.nodeType]}}
    </folder-icon>

    <file-icon class="bi-text--sm bi-muted">
     {{file.nodeType}}
    </file-icon>

    <menu>
      <ul class="bi-dropdown-menu" ng-if="::folder.nodeType === 'table'">
        <li 
          class="bi-align bi-space-h"
          ng-click="events.onSelectTableRows(folder)"
        >
          <div>Select rows (limit 1000)</div>
        </li>
      </ul>
    </menu>
  </bi-file-explorer>
</div>