<div class="bi-section bi-grow">
  <div class="bi-section-header">
    <div>
      <div class="bi-section-title">
        Users
      </div>
    </div>
  </div>

  <div class="bi-section-content--center" ng-if="vm.state.before('Content')">
    <div class="quix-empty-state bi-empty-state--loading bi-fade-in" ng-if="vm.state.is('Initial')">
      <div class="bi-empty-state-content">Loading users...</div>
    </div>

    <div class="quix-empty-state bi-empty-state bi-fade-in" ng-if="vm.state.is('Error')" data-hook="users-error">
      <div class="bi-empty-state-icon bi-danger">
        <i class="bi-icon bi-danger">error_outline</i>
      </div>
      <div class="bi-empty-state-header">{{::vm.state.value().error.message}}</div>
    </div>
  </div>

  <div class="bi-section-content bi-c-h" ng-if="vm.state.is('Content')">
    <div class="bi-panel bi-c-h bi-fade-in bi-theme--lighter" data-hook="users-content">
      <div class="bi-panel-content bi-c-h">
        <bi-tbl
          class="bi-table--nav bi-c-h bi-grow"
          fields="vm.fields"
          rows="vm.state.value().users"
          bt-options="::{stickyHeader: true, trackBy: 'id'}"
          on-row-click="events.onUserClick(row)"
          order-by="name"
          data-hook="users-table"
        ></bi-tbl>
      </div>
    </div>
  </div>
</div>