<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date{ISO8601} %-5level [%thread] %40.40logger{40} : %m%n%ex{full}</Pattern>
        </layout>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

</configuration>