<div 
  class="bi-align"
  ng-class="::{
    'quix-actions-reverse': options.reverse,
    'quix-actions-compact': options.compact,
    'bi-s-h--x2': !options.compact,
    'bi-s-h': options.compact
  }"
>
  <bi-tooltip ng-if="permissions.delete">
    <bi-toggle>
      <i 
        class="bi-action"
        ng-class="::{
          'bi-icon': !options.compact,
          'bi-icon--sm': options.compact
        }"
        ng-click="events.onDelete()"
      >
        {{::options.bulk ? 'delete_sweep' : 'delete'}}
      </i>
    </bi-toggle>
    Delete {{::type}}
  </bi-tooltip>
    
  <bi-tooltip ng-if="::permissions.clone">
    <bi-toggle>
      <i 
        class="bi-action"
        ng-class="::{
          'bi-icon': !options.compact,
          'bi-icon--sm': options.compact
        }"
        ng-click="events.onClone()"
      >file_copy</i>
    </bi-toggle>
    Clone {{::type}}
  </bi-tooltip>
    
  <bi-tooltip ng-if="::!options.bulk">
    <bi-toggle>
      <i
        class="bi-action"
        ng-class="::{
          'bi-icon': !options.compact,
          'bi-icon--sm': options.compact
        }"
        ng-click="events.onShare()"
      >share</i>
    </bi-toggle>
    Share {{::type}}
  </bi-tooltip>
      
  <!-- <bi-tooltip ng-if="::!options.bulk">
    <bi-toggle>
      <i
        class="bi-action"
        ng-class="::{
          'bi-icon': !options.compact,
          'bi-icon--sm': options.compact,
          'bi-danger': context.isLiked
        }"
        ng-click="events.onLikeToggle()"
      >{{context.isLiked ? 'favorite' :'favorite_border'}}</i>
    </bi-toggle>
    Add {{::type}} to favorites
  </bi-tooltip> -->
</div>