@import '../../lib/ui//assets/css/def/colors.def';

quix-destination {
  display: flex;
  width: 500px;
  height: 300px;
  flex-direction: column;

  bi-file-explorer {
    padding: 12px;
    background-color: $grey--50;

    > * {
      margin: 0 -12px;
    }
  }
}
