@import './lib/ui/assets/css/def/colors.def';
@import './lib/ui/assets/css/def/defaults.def';
@import './lib/ui/assets/css/def/icon.def';

quix-breadcrumbs {
  .bi-action {
    color: $white !important;
  }
}

.quix-checkbox {
  display: block;
  width: 23px;
  line-height: 0;
  overflow: hidden;

  i {
    transition: color, .1s;
    color: $grey--300 !important;
    font-size: 23px;

    &:not([disabled]) {
      &:hover,
      &.checked {
        color: $muted !important;
      }
    }
  }
}

.quix-round-icon {
  border-radius: 100px;
  background-color: $blue-grey--700;
}

.quix-popup {
  display: none !important;

  &.bm--maximized {
    display: flex !important;
  }

  &.quix-search-popup {
    top: 54px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;

    & + .bm-backdrop {
      display: none !important;
    }

    .bm-toggle {
      display: none !important;
    }
  }
}

.quix-temp-note-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $red--300;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1px 1px 10px $grey--500;

  &:before {
    @extend %icon;

    content: 'code';
    font-size: 28px;
    color: white;
  }
}

.bi-section,
.bi-section--300 {
  .bi-section-header {
    quix-meta {
      .bi-muted {
        color: $grey--400 !important;
      }
    }
  }

  .bi-section-content {
    .quix-empty-state {
      margin-top: -60px;
    }

    .quix-section-controls {
      height: 30px;
    }
  }
}

bi-tbl.bi-table--nav {
  td {
    [contenteditable="false"] {
      padding: 0 !important;
      border: 0 !important;
    }

    [contenteditable="true"] {
      position: relative;
      top: 3px;
      padding-top: 0 !important;
    }
  }

  .mark-column {
    width: 42px;
    padding: 0;

    .quix-checkbox {
      width: 42px;
      margin-top: 1px;
      padding: 8px;
    }
  }

  .name-column {
    padding-left: 0;
  }
}

.bi-empty-state {
  .bi-empty-state-icon {
    .bi-icon {
      font-size: 80px;
      color: $grey--500;
    }
  }
}

.bi-toast {
  left: 54px !important;
  bottom: 12px !important;
}