<!DOCTYPE html>
<html ng-app="quix">
  <head>
    <meta charset="utf-8">
    <title>Quix</title>
    <link type="image/png" href="${clientTopology.staticsBaseUrl}assets/favicon.png" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="${clientTopology.staticsBaseUrl}app#if(!${mode.debug}).min#{end}.css" rel="stylesheet">
  </head>
  <body class="bi-c" ng-controller="app">
    <bi-app app="app">
      <header class="bi-align bi-grow">
        <quix-header class="bi-align"><quix-header>
      </header>

      <div class="quix-splash bi-c bi-s-v--x3 bi-fade-in">
        <img class="quix-splash-logo" src="${clientTopology.staticsBaseUrl}assets/logo_big.png">
        <span class="bi-center bi-text--ui bi-text--large bi-muted">Loading...</span>
      </div>
    </bi-app>

    <script>
      window.quixConfig = ${quixConfig};
    </script>

    <script src="${clientTopology.staticsBaseUrl}app.bundle#if(!${mode.debug}).min#{end}.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </body>
</html>
