@import '../../lib/ui/assets/css/def/state.def';
@import '../../lib/ui/assets/css/def/colors.def';
@import '../../lib/ui/assets/css/text.scss';

quix-file-explorer {
  .bi-spinner--xs {
    &:after {
      border-color: $dark-muted-color;
      border-right-color: transparent;
    }
    margin-right: 3px;
  }
  @for $i from 0 through 3 {
    .fe-item-depth-#{$i} {
      padding-left: $i * 12px + 6px;
      padding-right: 3px;
    }
  }
}