name: Quix Backend Build
on:
  pull_request:
    paths:
    - 'quix-backend/**'  
  push:
    paths:
    - 'quix-backend/**'
jobs:
  scala_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala_version: ['2.12.17', '2.13.9']
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup Scala
      uses: olafurpg/setup-scala@v12
      with:
        java-version: "adopt@1.8"
    - name: Coursier cache
      uses: coursier/cache-action@v5
    - name: Build and Test
      working-directory: ./quix-backend
      run: |
        sbt ++${{matrix.scala_version}} -v -Dfile.encoding=UTF-8 test publishM2
        if [[ ${{matrix.scala_version}} = '2.12.15' ]]
        then
          mvn --quiet -f quix-webapps/quix-web-spring/pom.xml test
        fi
        rm -rf "$HOME/.ivy2/local" || true
        find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
        find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
        find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
        find $HOME/.sbt                              -name "*.lock"               -delete || true
